In [1]:
!git clone https://github.com/PhonePe/pulse.git

fatal: destination path 'pulse' already exists and is not an empty directory.

In [2]:
import pandas as pd
import json
import os
import psycopg2
import git

path="/Users/shivamtiwari/Desktop/Guvi_Projects/ phone_pe project/data/aggregated/transaction/country/india/state"
Agg_state_list=os.listdir(path)
#Agg_state_list

In [3]:
path1 = "/Users/shivamtiwari/Desktop/Guvi_Projects/ phone_pe project/data/aggregated/transaction/country/india/state"
agg_tran_list = sorted([entry for entry in os.listdir(path1) if os.path.isdir(os.path.join(path1, entry))])

columns1 = {"States":[], "Years":[], "Quarter":[], "Transaction_Type":[], "Transaction_Count":[], "Transaction_Amount":[]}
for state in agg_tran_list:
    cur_states = os.path.join(path1, state)

    # Check if the current entry is a directory
    if os.path.isdir(cur_states):
        agg_year_list = [entry for entry in sorted(os.listdir(cur_states)) if os.path.isdir(os.path.join(cur_states, entry))]
    
        for year in agg_year_list:
            # Use quote to handle special characters in the state name and year
            cur_year = os.path.join(cur_states,(year))
            agg_file_list = os.listdir(cur_year)
            
            for file in agg_file_list:
                cur_file = os.path.join(cur_year, file)

                # Check if the current entry is a file
                data = open(cur_file, "r")
                A = json.load(data)
                    
                for i in A["data"]["transactionData"]:
                    name = i["name"]
                    count = i["paymentInstruments"][0]["count"]
                    amount = i["paymentInstruments"][0]["amount"]
                    columns1["Transaction_Type"].append(name)
                    columns1["Transaction_Count"].append(count)
                    columns1["Transaction_Amount"].append(amount)
                    columns1["States"].append(state)
                    columns1["Years"].append(year)
                    columns1["Quarter"].append(int(file.strip(".json")))

In [4]:
aggre_transaction = pd.DataFrame(columns1)

In [5]:
aggre_transaction["States"] = aggre_transaction["States"].str.replace("andaman-&-nicobar-islands","Andaman & Nicobar")
aggre_transaction["States"] = aggre_transaction["States"].str.replace("-"," ")
aggre_transaction["States"] = aggre_transaction["States"].str.title()
aggre_transaction['States'] = aggre_transaction['States'].str.replace("Dadra & Nagar Haveli & Daman & Diu", "Dadra and Nagar Haveli and Daman and Diu")

In [6]:
path2 = "/Users/shivamtiwari/Desktop/Guvi_Projects/ phone_pe project/data/aggregated/user/country/india/state"
agg_user_list = sorted([entry for entry in os.listdir(path2) if os.path.isdir(os.path.join(path2, entry))])

columns2 = {"States":[], "Years":[], "Quarter":[], "Brands":[], "Count":[], "Percentage":[]}
for state in agg_user_list:
    cur_states = os.path.join(path2, state)

    # Check if the current entry is a directory
    if os.path.isdir(cur_states):
        agg_year_list = [entry for entry in sorted(os.listdir(cur_states)) if os.path.isdir(os.path.join(cur_states, entry))]
    
        for year in agg_year_list:
            # Use quote to handle special characters in the state name and year
            cur_year = os.path.join(cur_states,(year))
            agg_file_list = os.listdir(cur_year)
            
            for file in agg_file_list:
                cur_file = os.path.join(cur_year, file)

                # Check if the current entry is a file
                data = open(cur_file, "r")
                B = json.load(data)
                
                try:
                    for i in B["data"]["usersByDevice"]:
                        brand = i["brand"]
                        count = i["count"]
                        percentage = i["percentage"]
                        columns2["Brands"].append(brand)
                        columns2["Count"].append(count)
                        columns2["Percentage"].append(percentage)
                        columns2["States"].append(state)
                        columns2["Years"].append(year)
                        columns2["Quarter"].append(int(file.strip(".json")))
                except:
                    pass

In [7]:
aggre_user = pd.DataFrame(columns2)

In [8]:
aggre_user

                         States Years  Quarter   Brands    Count  Percentage
0     andaman-&-nicobar-islands  2018        1   Xiaomi     1665    0.247033
1     andaman-&-nicobar-islands  2018        1  Samsung     1445    0.214392
2     andaman-&-nicobar-islands  2018        1     Vivo      982    0.145697
3     andaman-&-nicobar-islands  2018        1     Oppo      501    0.074332
4     andaman-&-nicobar-islands  2018        1  OnePlus      332    0.049258
...                         ...   ...      ...      ...      ...         ...
6727                west-bengal  2022        1   Lenovo   330017    0.015056
6728                west-bengal  2022        1  Infinix   284678    0.012987
6729                west-bengal  2022        1     Asus   280347    0.012790
6730                west-bengal  2022        1    Apple   277752    0.012671
6731                west-bengal  2022        1   Others  2196334    0.100199

[6732 rows x 6 columns]

In [9]:
aggre_user["States"] = aggre_user["States"].str.replace("andaman-&-nicobar-islands","Andaman & Nicobar")
aggre_user["States"] = aggre_user["States"].str.replace("-"," ")
aggre_user["States"] = aggre_user["States"].str.title()
aggre_user['States'] = aggre_user['States'].str.replace("Dadra & Nagar Haveli & Daman & Diu", "Dadra and Nagar Haveli and Daman and Diu")

In [10]:
#Map_transaction
path3 = "/Users/shivamtiwari/Desktop/Guvi_Projects/ phone_pe project/data/map/transaction/hover/country/india/state"
map_tran_list = sorted([entry for entry in os.listdir(path3) if os.path.isdir(os.path.join(path3, entry))])

columns3 = {"States":[], "Years":[], "Quarter":[], "Districts":[], "Transaction_Count":[], "Transaction_Amount":[]}
for state in map_tran_list:
    cur_states = os.path.join(path3, state)

    # Check if the current entry is a directory
    if os.path.isdir(cur_states):
        agg_year_list = [entry for entry in sorted(os.listdir(cur_states)) if os.path.isdir(os.path.join(cur_states, entry))]
    
        for year in agg_year_list:
            # Use quote to handle special characters in the state name and year
            cur_year = os.path.join(cur_states,(year))
            agg_file_list = os.listdir(cur_year)
            
            for file in agg_file_list:
                cur_file = os.path.join(cur_year, file)

                # Check if the current entry is a file
                data = open(cur_file, "r")
                C = json.load(data)
                
                for i in C["data"]["hoverDataList"]:
                        name = i["name"]
                        count = i["metric"][0]["count"]
                        amount = i["metric"][0]["amount"]
                        columns3["Districts"].append(name)
                        columns3["Transaction_Count"].append(count)
                        columns3["Transaction_Amount"].append(amount)
                        columns3["States"].append(state)
                        columns3["Years"].append(year)
                        columns3["Quarter"].append(int(file.strip(".json")))
map_tran = pd.DataFrame(columns3)

map_tran["States"] = map_tran["States"].str.replace("andaman-&-nicobar-islands","Andaman & Nicobar")
map_tran["States"] = map_tran["States"].str.replace("-"," ")
map_tran["States"] = map_tran["States"].str.title()
map_tran['States'] = map_tran['States'].str.replace("Dadra & Nagar Haveli & Daman & Diu", "Dadra and Nagar Haveli and Daman and Diu")

In [11]:
map_tran

,States,Years,Quarter,Districts,Transaction_Count,Transaction_Amount
0,Andaman & Nicobar,2018,1,north and middle andaman district,442,9.316631e+05
1,Andaman & Nicobar,2018,1,south andaman district,5688,1.256025e+07
2,Andaman & Nicobar,2018,1,nicobars district,528,1.139849e+06
3,Andaman & Nicobar,2018,2,north and middle andaman district,825,1.317863e+06
4,Andaman & Nicobar,2018,2,south andaman district,9395,2.394824e+07
...,...,...,...,...,...,...
16827,West Bengal,2023,3,nadia district,30146530,5.787869e+10
16828,West Bengal,2023,3,birbhum district,17597047,3.090737e+10
16829,West Bengal,2023,3,purba medinipur district,34244893,6.813718e+10
16830,West Bengal,2023,3,maldah district,28539407,5.299766e+10
16831,West Bengal,2023,3,darjiling district,14747572,2.463195e+10

In [12]:
#Map_user
path4 = "/Users/shivamtiwari/Desktop/Guvi_Projects/ phone_pe project/data/map/user/hover/country/india/state"
map_user_list = sorted([entry for entry in os.listdir(path4) if os.path.isdir(os.path.join(path4, entry))])

columns4 = {"States":[], "Years":[], "Quarter":[], "Districts":[], "RegisteredUser":[], "AppOpens":[]}
for state in map_user_list:
    cur_states = os.path.join(path4, state)

    # Check if the current entry is a directory
    if os.path.isdir(cur_states):
        agg_year_list = [entry for entry in sorted(os.listdir(cur_states)) if os.path.isdir(os.path.join(cur_states, entry))]
    
        for year in agg_year_list:
            # Use quote to handle special characters in the state name and year
            cur_year = os.path.join(cur_states,(year))
            agg_file_list = os.listdir(cur_year)
            
            for file in agg_file_list:
                cur_file = os.path.join(cur_year, file)

                # Check if the current entry is a file
                data = open(cur_file, "r")
                D = json.load(data)
                
                for i in D["data"]["hoverData"].items():
                    district = i[0]
                    registereduser = i[1]["registeredUsers"]
                    appopens = i[1]["appOpens"]
                    columns4["Districts"].append(district)
                    columns4["RegisteredUser"].append(registereduser)
                    columns4["AppOpens"].append(appopens)
                    columns4["States"].append(state)
                    columns4["Years"].append(year)
                    columns4["Quarter"].append(int(file.strip(".json")))
map_user = pd.DataFrame(columns4)

map_user["States"] = map_user["States"].str.replace("andaman-&-nicobar-islands","Andaman & Nicobar")
map_user["States"] = map_user["States"].str.replace("-"," ")
map_user["States"] = map_user["States"].str.title()
map_user['States'] = map_user['States'].str.replace("Dadra & Nagar Haveli & Daman & Diu", "Dadra and Nagar Haveli and Daman and Diu")

In [13]:
map_user

,States,Years,Quarter,Districts,RegisteredUser,AppOpens
0,Andaman & Nicobar,2018,1,north and middle andaman district,632,0
1,Andaman & Nicobar,2018,1,south andaman district,5846,0
2,Andaman & Nicobar,2018,1,nicobars district,262,0
3,Andaman & Nicobar,2018,2,north and middle andaman district,911,0
4,Andaman & Nicobar,2018,2,south andaman district,8143,0
...,...,...,...,...,...,...
16831,West Bengal,2023,3,nadia district,1544294,12674328
16832,West Bengal,2023,3,birbhum district,974363,18961683
16833,West Bengal,2023,3,purba medinipur district,1530289,18593769
16834,West Bengal,2023,3,maldah district,1091634,28020285
16835,West Bengal,2023,3,darjiling district,637665,21732323

In [14]:
#Top_transaction

path5 = "/Users/shivamtiwari/Desktop/Guvi_Projects/ phone_pe project/data/top/transaction/country/india/state"
top_tran_list = sorted([entry for entry in os.listdir(path5) if os.path.isdir(os.path.join(path5, entry))])

columns5 = {"States":[], "Years":[], "Quarter":[], "Pincodes":[], "Transaction_count":[], "Transaction_amount":[]}
for state in top_tran_list:
    cur_states = os.path.join(path5, state)

    # Check if the current entry is a directory
    if os.path.isdir(cur_states):
        agg_year_list = [entry for entry in sorted(os.listdir(cur_states)) if os.path.isdir(os.path.join(cur_states, entry))]
    
        for year in agg_year_list:
            # Use quote to handle special characters in the state name and year
            cur_year = os.path.join(cur_states,(year))
            agg_file_list = os.listdir(cur_year)
            
            for file in agg_file_list:
                cur_file = os.path.join(cur_year, file)

                # Check if the current entry is a file
                data = open(cur_file, "r")
                E = json.load(data)
                
                for i in E["data"]["pincodes"]:
                    entityname = i["entityName"]
                    count = i["metric"]["count"]
                    amount = i["metric"]["amount"]
                    columns5["Pincodes"].append(entityname)
                    columns5["Transaction_count"].append(count)
                    columns5["Transaction_amount"].append(amount)
                    columns5["States"].append(state)
                    columns5["Years"].append(year)
                    columns5["Quarter"].append(int(file.strip(".json")))

top_transaction = pd.DataFrame(columns5)

top_transaction["States"] = top_transaction["States"].str.replace("andaman-&-nicobar-islands","Andaman & Nicobar")
top_transaction["States"] = top_transaction["States"].str.replace("-"," ")
top_transaction["States"] = top_transaction["States"].str.title()
top_transaction['States'] = top_transaction['States'].str.replace("Dadra & Nagar Haveli & Daman & Diu", "Dadra and Nagar Haveli and Daman and Diu")

In [15]:
top_transaction

,States,Years,Quarter,Pincodes,Transaction_count,Transaction_amount
0,Andaman & Nicobar,2018,1,744101,1622,2.769298e+06
1,Andaman & Nicobar,2018,1,744103,1223,2.238042e+06
2,Andaman & Nicobar,2018,1,744102,969,3.519060e+06
3,Andaman & Nicobar,2018,1,744105,685,1.298561e+06
4,Andaman & Nicobar,2018,1,744104,340,1.039715e+06
...,...,...,...,...,...,...
8205,West Bengal,2023,3,700001,3536928,7.193522e+09
8206,West Bengal,2023,3,721301,3464729,4.871566e+09
8207,West Bengal,2023,3,700039,3405551,5.095825e+09
8208,West Bengal,2023,3,732125,3347165,5.353831e+09
8209,West Bengal,2023,3,700015,3304464,5.003674e+09

In [16]:
#Top_user:

path6 = "/Users/shivamtiwari/Desktop/Guvi_Projects/ phone_pe project/data/top/user/country/india/state"
top_user_list = sorted([entry for entry in os.listdir(path6) if os.path.isdir(os.path.join(path6, entry))])

columns6 = {"States":[], "Years":[], "Quarter":[], "Pincodes":[], "RegisteredUser":[]}
for state in top_user_list:
    cur_states = os.path.join(path6, state)

    # Check if the current entry is a directory
    if os.path.isdir(cur_states):
        agg_year_list = [entry for entry in sorted(os.listdir(cur_states)) if os.path.isdir(os.path.join(cur_states, entry))]
    
        for year in agg_year_list:
            # Use quote to handle special characters in the state name and year
            cur_year = os.path.join(cur_states,(year))
            agg_file_list = os.listdir(cur_year)
            
            for file in agg_file_list:
                cur_file = os.path.join(cur_year, file)

                # Check if the current entry is a file
                data = open(cur_file, "r")
                F = json.load(data)
                
                for i in F["data"]["pincodes"]:
                    name = i["name"]
                    registeredusers = i["registeredUsers"]
                    columns6["Pincodes"].append(name)
                    columns6["RegisteredUser"].append(registeredusers)
                    columns6["States"].append(state)
                    columns6["Years"].append(year)
                    columns6["Quarter"].append(int(file.strip(".json")))
top_user = pd.DataFrame(columns6)

top_user["States"] = top_user["States"].str.replace("andaman-&-nicobar-islands","Andaman & Nicobar")
top_user["States"] = top_user["States"].str.replace("-"," ")
top_user["States"] = top_user["States"].str.title()
top_user['States'] = top_user['States'].str.replace("Dadra & Nagar Haveli & Daman & Diu", "Dadra and Nagar Haveli and Daman and Diu")

In [17]:
top_user

                 States Years  Quarter Pincodes  RegisteredUser
0     Andaman & Nicobar  2018        1   744103            1608
1     Andaman & Nicobar  2018        1   744101            1108
2     Andaman & Nicobar  2018        1   744105            1075
3     Andaman & Nicobar  2018        1   744102            1006
4     Andaman & Nicobar  2018        1   744104             272
...                 ...   ...      ...      ...             ...
8206        West Bengal  2023        3   700015          122316
8207        West Bengal  2023        3   742304          119245
8208        West Bengal  2023        3   721101          118798
8209        West Bengal  2023        3   700150          114987
8210        West Bengal  2023        3   734006          113991

[8211 rows x 5 columns]

In [18]:
# Converting DataFrame to csv

aggre_transaction.to_csv('aggre_transaction.csv',index = False)
aggre_user.to_csv('aggre_user.csv',index = False)
map_tran.to_csv('map_tran.csv',index = False)
map_user.to_csv('map_user.csv',index = False)
top_transaction.to_csv('top_transaction.csv',index = False)
top_user.to_csv('top_user.csv',index = False)

In [19]:
import mysql.connector
#MySQL Table creation

#Aggregated_transaction Table

config = {'host' : 'localhost',
              'user' : 'root',
              'password' : 'up78aq3670',
              'database' : 'phonepe_data'}

conn = mysql.connector.connect(**config)
cursor = conn.cursor()

#Insert Table

create_query1 = '''CREATE TABLE IF NOT EXISTS aggregated_transaction (
                    States VARCHAR(255),
                    Years INT,
                    Quarter INT,
                    Transaction_Type VARCHAR(255),
                    Transaction_Count BIGINT,
                    Transaction_Amount BIGINT
);
'''

cursor.execute(create_query1)

conn.commit()

 # Insert values in the MySQL table

for index,row in aggre_transaction.iterrows():
    insert_query1 = '''INSERT INTO aggregated_transaction (States,
                                                            Years,
                                                            Quarter,
                                                            Transaction_Type,
                                                            Transaction_Count,
                                                            Transaction_Amount
                                                            )

                                                VALUES (%s, %s, %s, %s, %s, %s)'''
    values = (row['States'],
              row['Years'],
              row['Quarter'],
              row['Transaction_Type'],
              row['Transaction_Count'],
              row['Transaction_Amount']
             )


    cursor.execute(insert_query1, values)
    conn.commit()

In [20]:
import os
from urllib.parse import quote
import json
import pandas as pd
import mysql.connector
import git
import streamlit as st
import plotly.express as px
from streamlit_option_menu import option_menu
from PIL import Image
from git.repo.base import Repo

In [21]:
#Aggregated_User table

create_query2 = '''CREATE TABLE IF NOT EXISTS aggregated_user (
                    States VARCHAR(255),
                    Years INT,
                    Quarter INT,
                    Brands VARCHAR(255),
                    Count BIGINT,
                    Percentage FLOAT
);
'''

cursor.execute(create_query2)

conn.commit()

# Insert values in the MySQL table

for index,row in aggre_user.iterrows():
    insert_query2 = '''INSERT INTO aggregated_user (States,
                                                    Years,
                                                    Quarter,
                                                    Brands,
                                                    Count,
                                                    Percentage
                                                    )

                                        VALUES (%s, %s, %s, %s, %s, %s)'''
    values = (row['States'],
              row['Years'],
              row['Quarter'],
              row['Brands'],
              row['Count'],
              row['Percentage']
             )


    cursor.execute(insert_query2, values)
    conn.commit()

In [22]:
#Map_transaction Table

create_query3 = '''CREATE TABLE IF NOT EXISTS map_transaction (
                    States VARCHAR(255),
                    Years INT,
                    Quarter INT,
                    Districts VARCHAR(255),
                    Transaction_Count BIGINT,
                    Transaction_Amount FLOAT
);
'''
cursor.execute(create_query3)

conn.commit()

# Insert values in the MySQL table

for index,row in map_tran.iterrows():
    insert_query3 = '''INSERT INTO map_transaction (States,
                                                    Years,
                                                    Quarter,
                                                    Districts,
                                                    Transaction_Count,
                                                    Transaction_Amount
                                                    )

                                        VALUES (%s, %s, %s, %s, %s, %s)'''
    values = (row['States'],
              row['Years'],
              row['Quarter'],
              row['Districts'],
              row['Transaction_Count'],
              row['Transaction_Amount']
             )


    cursor.execute(insert_query3, values)
    conn.commit()

In [23]:
#Map_User Table

create_query4 = '''CREATE TABLE IF NOT EXISTS map_user (
                    States VARCHAR(255),
                    Years INT,
                    Quarter INT,
                    Districts VARCHAR(255),
                    RegisteredUser BIGINT,
                    AppOpens BIGINT
);
'''
cursor.execute(create_query4)

conn.commit()

# Insert values in the MySQL table

for index,row in map_user.iterrows():
    insert_query4 = '''INSERT INTO map_user (States,
                                            Years,
                                            Quarter,
                                            Districts,
                                            RegisteredUser,
                                            AppOpens
                                            )

                                VALUES (%s, %s, %s, %s, %s, %s)'''
    values = (row['States'],
              row['Years'],
              row['Quarter'],
              row['Districts'],
              row['RegisteredUser'],
              row['AppOpens']
             )


    cursor.execute(insert_query4, values)
    conn.commit()

In [24]:
#Top_transaction table

create_query5 = '''CREATE TABLE IF NOT EXISTS top_transaction (
                    States VARCHAR(255),
                    Years INT,
                    Quarter INT,
                    Pincodes INT,
                    Transaction_count BIGINT,
                    Transaction_amount BIGINT
);
'''
cursor.execute(create_query5)

conn.commit()

# Insert values in the MySQL table

for index,row in top_transaction.iterrows():
    insert_query5 = '''INSERT INTO top_transaction (States,
                                            Years,
                                            Quarter,
                                            Pincodes,
                                            Transaction_count,
                                            Transaction_amount
                                            )

                                VALUES (%s, %s, %s, %s, %s, %s)'''
    values = (row['States'],
              row['Years'],
              row['Quarter'],
              row['Pincodes'],
              row['Transaction_count'],
              row['Transaction_amount']
             )


    cursor.execute(insert_query5, values)
    conn.commit()

In [25]:
#Top_User Table

create_query6 = '''CREATE TABLE IF NOT EXISTS top_user (
                    States VARCHAR(255),
                    Years INT,
                    Quarter INT,
                    Pincodes INT,
                    RegisteredUser BIGINT
);
'''
cursor.execute(create_query6)

conn.commit()

# Insert values in the MySQL table

for index,row in top_user.iterrows():
    insert_query6 = '''INSERT INTO top_user (States,
                                            Years,
                                            Quarter,
                                            Pincodes,
                                            RegisteredUser
                                            )

                                VALUES (%s, %s, %s, %s, %s)'''
    values = (row['States'],
              row['Years'],
              row['Quarter'],
              row['Pincodes'],
              row['RegisteredUser']
             )


    cursor.execute(insert_query6, values)
    conn.commit()

In [26]:
cursor.execute("show tables")
cursor.fetchall()

[('aggregated_transaction',),
 ('aggregated_user',),
 ('map_transaction',),
 ('map_user',),
 ('top_transaction',),
 ('top_user',)]

#Streamlit code start

In [27]:
pip install --upgrade streamlit

Requirement already satisfied: streamlit in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (1.31.1)
Requirement already satisfied: altair<6,>=4.0 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from streamlit) (5.2.0)
Requirement already satisfied: blinker<2,>=1.0.0 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from streamlit) (1.7.0)
Requirement already satisfied: cachetools<6,>=4.0 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from streamlit) (5.3.2)
Requirement already satisfied: click<9,>=7.0 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from streamlit) (8.1.7)
Requirement already satisfied: importlib-metadata<8,>=1.4 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from streamlit) (6.11.0)
Requirement already satisfied: numpy<2,>=1.19.3 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from streamlit) (1.26.0)
Requirement already satisfied: packaging<24,>=16.8 in /Users/shivamtiwari/Library/Python/3.12/lib/python/site-packages (from streamlit) (23.2)
Requirement already satisfied: pandas<3,>=1.3.0 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from streamlit) (2.1.1)
Requirement already satisfied: pillow<11,>=7.1.0 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from streamlit) (10.1.0)
Requirement already satisfied: protobuf<5,>=3.20 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from streamlit) (4.21.12)
Requirement already satisfied: pyarrow>=7.0 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from streamlit) (14.0.1)
Requirement already satisfied: python-dateutil<3,>=2.7.3 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from streamlit) (2.8.2)
Requirement already satisfied: requests<3,>=2.27 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from streamlit) (2.31.0)
Requirement already satisfied: rich<14,>=10.14.0 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from streamlit) (13.7.0)
Requirement already satisfied: tenacity<9,>=8.1.0 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from streamlit) (8.2.3)
Requirement already satisfied: toml<2,>=0.10.1 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from streamlit) (0.10.2)
Requirement already satisfied: typing-extensions<5,>=4.3.0 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from streamlit) (4.9.0)
Requirement already satisfied: tzlocal<6,>=1.1 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from streamlit) (5.2)
Requirement already satisfied: validators<1,>=0.2 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from streamlit) (0.22.0)
Requirement already satisfied: gitpython!=3.1.19,<4,>=3.0.7 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from streamlit) (3.1.40)
Requirement already satisfied: pydeck<1,>=0.8.0b4 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from streamlit) (0.8.1b0)
Requirement already satisfied: tornado<7,>=6.0.3 in /Users/shivamtiwari/Library/Python/3.12/lib/python/site-packages (from streamlit) (6.3.3)
Requirement already satisfied: jinja2 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from altair<6,>=4.0->streamlit) (3.1.2)
Requirement already satisfied: jsonschema>=3.0 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from altair<6,>=4.0->streamlit) (4.20.0)
Requirement already satisfied: toolz in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from altair<6,>=4.0->streamlit) (0.12.0)
Requirement already satisfied: gitdb<5,>=4.0.1 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from gitpython!=3.1.19,<4,>=3.0.7->streamlit) (4.0.11)
Requirement already satisfied: zipp>=0.5 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from importlib-metadata<8,>=1.4->streamlit) (3.17.0)
Requirement already satisfied: pytz>=2020.1 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from pandas<3,>=1.3.0->streamlit) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from pandas<3,>=1.3.0->streamlit) (2023.3)
Requirement already satisfied: six>=1.5 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from python-dateutil<3,>=2.7.3->streamlit) (1.16.0)
Requirement already satisfied: charset-normalizer<4,>=2 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from requests<3,>=2.27->streamlit) (3.3.0)
Requirement already satisfied: idna<4,>=2.5 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from requests<3,>=2.27->streamlit) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from requests<3,>=2.27->streamlit) (2.0.6)
Requirement already satisfied: certifi>=2017.4.17 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from requests<3,>=2.27->streamlit) (2023.7.22)
Requirement already satisfied: markdown-it-py>=2.2.0 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from rich<14,>=10.14.0->streamlit) (3.0.0)
Requirement already satisfied: pygments<3.0.0,>=2.13.0 in /Users/shivamtiwari/Library/Python/3.12/lib/python/site-packages (from rich<14,>=10.14.0->streamlit) (2.16.1)
Requirement already satisfied: smmap<6,>=3.0.1 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from gitdb<5,>=4.0.1->gitpython!=3.1.19,<4,>=3.0.7->streamlit) (5.0.1)
Requirement already satisfied: MarkupSafe>=2.0 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from jinja2->altair<6,>=4.0->streamlit) (2.1.3)
Requirement already satisfied: attrs>=22.2.0 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from jsonschema>=3.0->altair<6,>=4.0->streamlit) (23.1.0)
Requirement already satisfied: jsonschema-specifications>=2023.03.6 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from jsonschema>=3.0->altair<6,>=4.0->streamlit) (2023.11.2)
Requirement already satisfied: referencing>=0.28.4 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from jsonschema>=3.0->altair<6,>=4.0->streamlit) (0.32.0)
Requirement already satisfied: rpds-py>=0.7.1 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from jsonschema>=3.0->altair<6,>=4.0->streamlit) (0.14.1)
Requirement already satisfied: mdurl~=0.1 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from markdown-it-py>=2.2.0->rich<14,>=10.14.0->streamlit) (0.1.2)
Note: you may need to restart the kernel to use updated packages.

In [ ]:
#Streamlit Page creation
import streamlit as st
from streamlit_option_menu import option_menu

# Rest of your code...


st.set_page_config(
    page_title="Phonepe Pulse Data Visualization",
    layout="wide",
    initial_sidebar_state="expanded"
)

# Creating connection with mysql workbench

config = {'host' : 'localhost',
              'user' : 'root',
              'password' : 'up78aq3670',
              'database' : 'phonepe_data'}

conn = mysql.connector.connect(**config)
cursor = conn.cursor(buffered=True)

# Creating option menu in the side bar

with st.sidebar:
    selected = option_menu("Menu", ["Home","Top Charts","Explore Data","About"],
                    icons = ["house","graph-up-arrow","bar-chart-line", "exclamation-circle"],
                    menu_icon = "menu-button-wide",
                    default_index = 0,
                    styles = {"nav-link": {"font-size": "20px", "text-align": "left", "margin": "-2px", "--hover-color": "#6F36AD"},
                        "nav-link-selected": {"background-color": "#6F36AD"}})

In [34]:
#Menu-1 Home
if selected == "Home":
    st.markdown("# :violet[PHONEPE PULSE DATA VISUALIZATION AND EXPLORATION]")
    st.markdown("## :violet[A User-Friendly Tool Using Streamlit and Plotly]")
    col1,col2 = st.columns([3,2],gap="medium")
    
    with col1:
        st.write(" ")
        st.write(" ")
        st.header(':violet[PHONEPE]')
        st.subheader("INDIA'S BEST TRANSACTION APP")
        st.markdown("PhonePe  is an Indian digital payments and financial technology company")
        st.write("****FEATURES****")
        st.write("**-> Credit & Debit card linking**")
        st.write("**-> Bank Balance check**")
        st.write("**->Money Storage**")
        st.write("**->PIN Authorization**")
        st.write("**-> Easy Transactions**")
        st.write("**-> One App For All Your Payments**")
        st.write("**-> Your Bank Account Is All You Need**")
        st.write("**-> Multiple Payment Modes**")
        st.write("**-> PhonePe Merchants**")
        st.write("**-> Multiple Ways To Pay**")
        st.write("**-> 1.Direct Transfer & More**")
        st.write("**-> 2.QR Code**")
        st.write("**-> Earn Great Rewards**")
        st.write("**->No Wallet Top-Up Required**")
        st.write("**->Pay Directly From Any Bank To Any Bank A/C**")
        st.write("**->Instantly & Free**")
      
    with col2:
        st.image("/Users/shivamtiwari/Desktop/phonepe.png")
        st.markdown(" ")
        st.markdown(" ")
        st.video("https://youtu.be/IrD3B0NfW-4")
        st.markdown(" ")
        st.markdown(" ")
        st.download_button("DOWNLOAD THE APP NOW", "https://www.phonepe.com/app-download/")

In [39]:
# Menu-2 Top chart
if selected == "Top Charts":
    st.markdown("## :violet[Top Charts]")
    Type = st.sidebar.selectbox("**Type**", ("Transactions", "Users"))
    col1, col2 = st.columns([1, 1.5], gap="large")
    
    with col1:
        Year = st.selectbox("**Year**", list(range(2018, 2024)))
        Quarter = st.slider("Quarter", min_value=1, max_value=4)
    
    with col2:
        st.info(
            """
            #### From this menu, we can get insights like:
            - Overall ranking on a particular Year and Quarter.
            - Top 10 State, District, Pincode based on Total number of transactions and Total amount spent on PhonePe.
            - Top 10 State, District, Pincode based on Total PhonePe users and their app opening frequency.
            - Top 10 mobile brands and their percentage based on how many people use PhonePe.
            """
        )

    # Top Charts - TRANSACTIONS    
        
    if Type == "Transactions":

        st.subheader("Top 10 State, District, Pincode based on Total number of Transactions and Total Amount spent on PhonePe")
        st.markdown(" ")
        st.markdown(" ")
        st.markdown("### :violet[STATE]")
        cursor.execute(f"select States, sum(Transaction_count) as Total_Transactions_Count, sum(Transaction_amount) as Total from aggregated_transaction where Years = {Year} and Quarter = {Quarter} group by States order by Total desc limit 10")
        df = pd.DataFrame(cursor.fetchall(), columns=['State', 'Transactions_Count','Transaction_amount'])
        fig = px.pie(df, values='Transaction_amount',
                        names='State',  
                        title='Top 10',
                        color_discrete_sequence=px.colors.cyclical.Edge,
                        hover_data=['Transactions_Count'],
                        labels={'Transactions_Count':'Transactions_Count'})

        fig.update_traces(textposition='inside', textinfo='percent+label')
        st.plotly_chart(fig, use_container_width=True)

        st.markdown("### :violet[DISTRICT]")
        cursor.execute(f"select Districts, sum(Transaction_count) as Total_Count, sum(Transaction_amount) as Total from map_transaction where Years = {Year} and Quarter = {Quarter} group by Districts order by Total desc limit 10")
        df = pd.DataFrame(cursor.fetchall(), columns=['District', 'Transactions_Count','Transaction_amount'])

        fig = px.pie(df, values='Transaction_amount',
                        names='District',  
                        title='Top 10',
                        color_discrete_sequence=px.colors.diverging.Spectral,
                        hover_data=['Transactions_Count'],
                        labels={'Transactions_Count':'Transactions_Count'})

        fig.update_traces(textposition='inside', textinfo='percent+label')
        st.plotly_chart(fig, use_container_width=True)

        st.markdown("### :violet[PINCODE]")
        cursor.execute(f"select Pincodes, sum(Transaction_count) as Total_Transactions_Count, sum(Transaction_amount) as Total from top_transaction where Years = {Year} and Quarter = {Quarter} group by Pincodes order by Total desc limit 10")
        df = pd.DataFrame(cursor.fetchall(), columns=['Pincode', 'Transactions_Count','Transaction_amount'])
        fig = px.pie(df, values='Transaction_amount',
                            names='Pincode',
                            title='Top 10',
                            color_discrete_sequence=px.colors.sequential.Agsunset,
                            hover_data=['Transactions_Count'],
                            labels={'Transactions_Count':'Transactions_Count'})

        fig.update_traces(textposition='inside', textinfo='percent+label')
        st.plotly_chart(fig,use_container_width=True)

    # Top Charts - USERS          
    if Type == "Users":

        st.subheader("Top 10 Mobile Brands and their Percentage based on How many people use PhonePe")
        st.markdown(" ")
        st.markdown(" ")
        st.markdown("### :violet[BRANDS]")
        if Year == 2023 and Quarter in [4]:
            st.markdown("#### Sorry No Data to Display for 2023 Qtr 4")
        else:
            cursor.execute(f"select Brands, sum(Count) as Total_Count, avg(Percentage)*100 as Avg_Percentage from aggregated_user where Years = {Year} and Quarter = {Quarter} group by Brands order by Total_Count desc limit 10")
            df = pd.DataFrame(cursor.fetchall(), columns=['Brand', 'Total_Users','Avg_Percentage'])
            fig = px.bar(df,
                            title='Top 10',
                            x="Total_Users",
                            y="Brand",
                            orientation='h',
                            color='Avg_Percentage',
                            color_continuous_scale=px.colors.sequential.Agsunset)
            st.plotly_chart(fig,use_container_width=True)

        st.subheader("Top 10 State, District, Pincode based on Total PhonePe Users and their App Opening Frequency")
        st.markdown(" ")
        st.markdown(" ")
        st.markdown("### :violet[STATE]")
        if Year == 2023 and Quarter in [4]:
            st.markdown("#### Sorry No Data to Display for 2023 Qtr 4")
        else:
            cursor.execute(f"select States, sum(RegisteredUser) as Total_Users, sum(AppOpens) as Total_Appopens from map_user where Years = {Year} and Quarter = {Quarter} group by States order by Total_Users desc limit 10")
            df = pd.DataFrame(cursor.fetchall(), columns=['State', 'Total_Users','Total_Appopens'])
            fig = px.pie(df, values='Total_Users',
                            names='State',
                            title='Top 10',
                            color_discrete_sequence=px.colors.sequential.Agsunset,
                            hover_data=['Total_Appopens'],
                            labels={'Total_Appopens':'Total_Appopens'})

            fig.update_traces(textposition='inside', textinfo='percent+label')
            st.plotly_chart(fig,use_container_width=True)
        
        st.markdown("### :violet[DISCRICT]")
        if Year == 2023 and Quarter in [4]:
            st.markdown("#### Sorry No Data to Display for 2023 Qtr 4")
        else:
            cursor.execute(f"select Districts, sum(RegisteredUser) as Total_Users, sum(AppOpens) as Total_Appopens from map_user where Years = {Year} and Quarter = {Quarter} group by Districts order by Total_Users desc limit 10")
            df = pd.DataFrame(cursor.fetchall(), columns=['District', 'Total_Users','Total_Appopens'])
            df.Total_Users = df.Total_Users.astype(float)
            fig = px.bar(df,
                        title='Top 10',
                        x="Total_Users",
                        y="District",
                        orientation='h',
                        color='Total_Appopens',
                        color_continuous_scale=px.colors.sequential.Agsunset)
            st.plotly_chart(fig,use_container_width=True)

        st.markdown("### :violet[PINCODE]")
        if Year == 2023 and Quarter in [4]:
            st.markdown("#### Sorry No Data to Display for 2023 Qtr 4")
        else:
            cursor.execute(f"select Pincodes, sum(RegisteredUser) as Total_Users from top_user where Years = {Year} and Quarter = {Quarter} group by Pincodes order by Total_Users desc limit 10")
            df = pd.DataFrame(cursor.fetchall(), columns=['Pincode', 'Total_Users'])
            fig = px.pie(df,
                        values='Total_Users',
                        names='Pincode',
                        title='Top 10',
                        color_discrete_sequence=px.colors.sequential.Agsunset,
                        hover_data=['Total_Users'])
            fig.update_traces(textposition='inside', textinfo='percent+label')
            st.plotly_chart(fig,use_container_width=True)

In [43]:
# MENU 3 - EXPLORE DATA
if selected == "Explore Data":
    Year = st.sidebar.selectbox("**Year**", list(range(2018, 2024)))
    Quarter = st.sidebar.slider("Quarter", min_value=1, max_value=4)
    Type = st.sidebar.selectbox("**Type**", ("Transactions", "Users"))
 
    # EXPLORE DATA - TRANSACTIONS
    if Type == "Transactions":
        
        st.markdown("## :violet[Overall State Data - Transactions Amount]")
        cursor.execute(f"select States, sum(Transaction_count) as Total_Transactions, sum(Transaction_amount) as Total_amount from map_transaction where Years = {Year} and Quarter = {Quarter} group by States order by States")
        df1 = pd.DataFrame(cursor.fetchall(),columns= ['State', 'Total_Transactions', 'Total_amount'])
        df2 = pd.read_csv('Statenames.csv')
        df1.State = df2

        fig = px.choropleth(df1,geojson="https://gist.githubusercontent.com/jbrobst/56c13bbbf9d97d187fea01ca62ea5112/raw/e388c4cae20aa53cb5090210a42ebb9b765c0a36/india_states.geojson",
                    featureidkey='properties.ST_NM',
                    locations='State',
                    color='Total_amount',
                    color_continuous_scale='pubugn')

        fig.update_geos(fitbounds="locations", visible=False)
        st.plotly_chart(fig,use_container_width=True)

    # Overall State Data - TRANSACTIONS COUNT - INDIA MAP
            
        st.markdown("## :violet[Overall State Data - Transactions Count]")
        cursor.execute(f"select States, sum(Transaction_count) as Total_Transactions, sum(Transaction_amount) as Total_amount from map_transaction where Years = {Year} and Quarter = {Quarter} group by States order by States")
        df1 = pd.DataFrame(cursor.fetchall(),columns= ['State', 'Total_Transactions', 'Total_amount'])
        df2 = pd.read_csv('Statenames.csv')
        df1.Total_Transactions = df1.Total_Transactions.astype(int)
        df1.State = df2

        fig = px.choropleth(df1,geojson="https://gist.githubusercontent.com/jbrobst/56c13bbbf9d97d187fea01ca62ea5112/raw/e388c4cae20aa53cb5090210a42ebb9b765c0a36/india_states.geojson",
                    featureidkey='properties.ST_NM',
                    locations='State',
                    color='Total_Transactions',
                    color_continuous_scale='purd')

        fig.update_geos(fitbounds="locations", visible=False)
        st.plotly_chart(fig,use_container_width=True)

        # BAR CHART - TOP PAYMENT TYPE
        st.markdown("## :violet[Top Payment Type]")
        cursor.execute(f"select Transaction_Type, sum(Transaction_count) as Total_Transactions, sum(Transaction_amount) as Total_amount from aggregated_transaction where Years= {Year} and Quarter = {Quarter} group by Transaction_Type order by Transaction_Type")
        df = pd.DataFrame(cursor.fetchall(), columns=['Transaction_type', 'Total_Transactions','Total_amount'])

        fig = px.bar(df,
                     title='Transaction Types vs Total_Transactions',
                     x="Transaction_type",
                     y="Total_Transactions",
                     orientation='v',
                     color='Total_amount',
                     color_continuous_scale=px.colors.sequential.Agsunset)
        st.plotly_chart(fig,use_container_width=False)
        
        # BAR CHART TRANSACTIONS - DISTRICT WISE DATA            
        st.markdown("# ")
        st.markdown("# ")
        st.markdown("# ")
        st.markdown("## :violet[Select any State to explore more]")
        selected_state = st.selectbox("",
                             ('Andaman & Nicobar','Andhra Pradesh','Arunachal Pradesh','Assam','Bihar',
                              'Chandigarh','Chhattisgarh','Dadra and Nagar Haveli and Daman and Diu','Delhi','Goa','Gujarat','Haryana',
                              'Himachal Pradesh','Jammu & Kashmir','Jharkhand','Karnataka','Kerala','Ladakh','Lakshadweep',
                              'Madhya Pradesh','Maharashtra','Manipur','Meghalaya','Mizoram',
                              'Nagaland','Odisha','Puducherry','Punjab','Rajasthan','Sikkim',
                              'Tamil Nadu','Telangana','Tripura','Uttar Pradesh','Uttarakhand','West Bengal'),index=30)
         
        cursor.execute(f"select States, Districts, Years, Quarter, sum(Transaction_count) as Total_Transactions, sum(Transaction_amount) as Total_amount from map_transaction where Years = {Year} and Quarter = {Quarter} and States = '{selected_state}' group by States, Districts, Years, Quarter order by States, Districts")
        
        df1 = pd.DataFrame(cursor.fetchall(), columns=['State','District','Year','Quarter',
                                                         'Total_Transactions','Total_amount'])
        fig = px.bar(df1,
                     title=selected_state,
                     x="District",
                     y="Total_Transactions",
                     orientation='v',
                     color='Total_amount',
                     color_continuous_scale=px.colors.sequential.Agsunset)
        st.plotly_chart(fig,use_container_width=True)
# EXPLORE DATA - USERS      
    if Type == "Users":
        
    # Overall State Data - TOTAL APPOPENS - INDIA MAP
        st.markdown("## :violet[Overall State Data - User App opening frequency]")
        cursor.execute(f"select States, sum(RegisteredUser) as Total_Users, sum(AppOpens) as Total_Appopens from map_user where Years = {Year} and Quarter = {Quarter} group by States order by States")
        df1 = pd.DataFrame(cursor.fetchall(), columns=['State', 'Total_Users','Total_Appopens'])
        df2 = pd.read_csv('Statenames.csv')
        df1.Total_Appopens = df1.Total_Appopens.astype(float)
        df1.State = df2
        
        fig = px.choropleth(df1,geojson="https://gist.githubusercontent.com/jbrobst/56c13bbbf9d97d187fea01ca62ea5112/raw/e388c4cae20aa53cb5090210a42ebb9b765c0a36/india_states.geojson",
                  featureidkey='properties.ST_NM',
                  locations='State',
                  color='Total_Appopens',
                  color_continuous_scale='rainbow')

        fig.update_geos(fitbounds="locations", visible=False)
        st.plotly_chart(fig,use_container_width=True)
        
     # BAR CHART TOTAL UERS - DISTRICT WISE DATA 
        st.markdown("## :violet[Select any State to explore more]")
        selected_state = st.selectbox("",
                             ('Andaman & Nicobar','Andhra Pradesh','Arunachal Pradesh','Assam','Bihar',
                              'Chandigarh','Chhattisgarh','Dadra and Nagar Haveli and Daman and Diu','Delhi','Goa','Gujarat','Haryana',
                              'Himachal Pradesh','Jammu & Kashmir','Jharkhand','Karnataka','Kerala','Ladakh','Lakshadweep',
                              'Madhya Pradesh','Maharashtra','Manipur','Meghalaya','Mizoram',
                              'Nagaland','Odisha','Puducherry','Punjab','Rajasthan','Sikkim',
                              'Tamil Nadu','Telangana','Tripura','Uttar Pradesh','Uttarakhand','West Bengal'),index=30)
        
        cursor.execute(f"select States, Years, Quarter, Districts,sum(RegisteredUser) as Total_Users, sum(AppOpens) as Total_Appopens from map_user where Years = {Year} and Quarter = {Quarter} and States = '{selected_state}' group by States, Districts, Years, Quarter order by States, Districts")
        
        df = pd.DataFrame(cursor.fetchall(), columns=['State','year', 'quarter', 'District', 'Total_Users','Total_Appopens'])
        df.Total_Users = df.Total_Users.astype(int)
        
        fig = px.bar(df,
                     title=selected_state,
                     x="District",
                     y="Total_Users",
                     orientation='v',
                     color='Total_Users',
                     color_continuous_scale=px.colors.sequential.Agsunset)
        st.plotly_chart(fig,use_container_width=True)

# MENU 4 - ABOUT
if selected == "About":
    col1,col2 = st.columns([3,3],gap="medium")
    with col1:
        st.write(" ")
        st.write(" ")
        st.markdown("### :violet[About PhonePe Pulse:] ")
        st.write("##### BENGALURU, India, On Sept. 3, 2021 PhonePe, India's leading fintech platform, announced the launch of PhonePe Pulse, India's first interactive website with data, insights and trends on digital payments in the country. The PhonePe Pulse website showcases more than 2000+ Crore transactions by consumers on an interactive map of India. With  over 45% market share, PhonePe's data is representative of the country's digital payment habits.")
        
        st.write("##### The insights on the website and in the report have been drawn from two key sources - the entirety of PhonePe's transaction data combined with merchant and customer interviews. The report is available as a free download on the PhonePe Pulse website and GitHub.")
        
        st.markdown("### :violet[About PhonePe:] ")
        st.write("##### PhonePe is India's leading fintech platform with over 300 million registered users. Using PhonePe, users can send and receive money, recharge mobile, DTH, pay at stores, make utility payments, buy gold and make investments. PhonePe forayed into financial services in 2017 with the launch of Gold providing users with a safe and convenient option to buy 24-karat gold securely on its platform. PhonePe has since launched several Mutual Funds and Insurance products like tax-saving funds, liquid funds, international travel insurance and Corona Care, a dedicated insurance product for the COVID-19 pandemic among others. PhonePe also launched its Switch platform in 2018, and today its customers can place orders on over 600 apps directly from within the PhonePe mobile app. PhonePe is accepted at 20+ million merchant outlets across Bharat")
        st.markdown("### :violet[Key features and services offered by PhonePe include:] ")  
        st.subheader("Unified Payments Interface (UPI):")
        st.write("#####         PhonePe leverages UPI, a real-time payment system in India, to facilitate peer-to-peer money transfers and payments.")
        st.subheader("Digital Wallet:")
        st.write("#####         Users can store money in the PhonePe wallet, which can be used for various transactions.")
        st.subheader("Bill Payments:")
        st.write("#####         PhonePe allows users to pay utility bills, including electricity, water, gas, and more, directly through the app.")
        st.subheader("Mobile Recharge:")
        st.write("#####         Users can recharge prepaid mobile phones and pay postpaid mobile bills using the PhonePe app.")
        st.subheader("Online Shopping:")
        st.write("#####         PhonePe offers a platform for users to shop online, make purchases, and avail of discounts and cashback offers.")
        st.subheader("Insurance and Mutual Funds:")
        st.write("#####         The app provides services related to insurance and mutual funds, allowing users to invest and manage their financial portfolio.")
        st.subheader("Gold Purchase:")
        st.write("#####         PhonePe allows users to buy and sell digital gold through the app.")
        st.subheader("Travel Services:")
        st.write("#####         Users can book flights, hotels, and bus tickets using PhonePe for their travel needs.")
                  
    with col2:
        st.write(" ")
        st.write(" ")
        st.write(" ")
        st.write(" ")
        st.image("/Users/shivamtiwari/Desktop/pulse.jpeg")
        st.markdown(" ")
        st.markdown(" ")
        st.markdown(" ")
        st.markdown(" ")
        st.markdown(" ")
        st.markdown(" ")
        st.markdown(" ")
        st.markdown(" ")
        st.markdown(" ")
        st.markdown(" ")
        st.markdown(" ")
        st.markdown(" ")
        st.markdown(" ")
        st.markdown(" ")
        st.markdown(" ")
        st.markdown(" ")
        st.video("https://youtu.be/-KsJ7Fl8izA")

    with st.sidebar:
        st.markdown(" ")
        st.markdown(" ")
        st.markdown(" ")
        st.markdown("### :violet[Domain :] Fintech")
        st.markdown("### :violet[Technologies used :] Github Cloning, Python, Pandas, MySQL, mysql-connector-python, Streamlit, and Plotly.")
        st.markdown("### :violet[Overview :] In this streamlit web app you can visualize the phonepe pulse data and gain lot of insights on transactions, number of users, top 10 state, district, pincode and which brand has most number of users and so on. Bar charts, Pie charts and Geo map visualization are used to get some insights.")    
        st.image('/Users/shivamtiwari/Desktop/285727246-135e452c-0c8b-4234-a03f-b06ee8d33679.png')